<div class="container">
  <h1 class="page-header"><%= @user.first_name %>'s Dashboard</h1>
  <%=link_to 'Create a Document', new_user_document_path(@user), { :method => :get, :class => ' btn btn-success btn pull-right create-link', 'data-toggle' => 'modal', 'data-target' => '#myModal'} %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h4>Loan Title</h4></th>
          <th><h4>Loan Amount</h4></th>
          <th><h4>Down Payment</h4></th>
          <th><h4>Interest Rate</h4></th>
          <th><h4>View PDF</h4></th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <td><%= document.title %></td>
            <td><%= document.amount %></td>
            <td><%= document.down_payment %></td>
            <td><%= document.interest_rate %></td>
            <td ><%= link_to '<i class="fa fa-file-pdf-o fa-2x"></i>'.html_safe, document.doc_pdf.url %></td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>           <!-- table-responsive -->
  <%= render "documents/modal" %>
</div>          <!-- container --> 



