<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-brand">DocGenerator</div>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
       <% if current_user %>
         <li><%=link_to 'Edit account', edit_user_registration_path %></li>
         <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
       <% else %>
         <li class="active"><%=link_to "Home", root_path %></li>
         <li><%=link_to "Login", new_user_session_path %></li>
         <li><%=link_to "SignUp", new_user_registration_path %></li>
       <% end %>
     </ul>    
   </div>   <!-- collapse -->
  </div>   <!-- container div -->
</div>    <!-- navbar -->